@model PageViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@RenderSection("Title")</title>
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/Build/vendor.css">
        <link rel="stylesheet" href="/css/Build/site.min.css">
        <!-- endinject -->

    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 language--switchers">
                            @await Html.PartialAsync("_Languages", Model)
                        </div>
                        <div class="col-xs-12 col-md-6 presentation--header">
                            <h1>Vladimir Kiselev, software developer</h1>
                        </div>
                    </div>
                    <div class="row presentation--links">
                        @* 
                            Links to predefined content.
                        *@
                        @foreach (var predefinedPage in new []{ PredefinedPages.Welcome, PredefinedPages.Contact, PredefinedPages.Resume })
                        {
                            <div class="col-xs-12 col-md-3">
                                @if (Model.ContentViewModel.InternalCaption == predefinedPage.ToString())
                                {
                                    <span class="presentation--links--disabled">
                                        @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                                    </span>
                                }
                                else
                                {
                                    if (@Model.IsDefaultPage(predefinedPage.ToString()))
                                    {
                                        <a prefix-with-language=@Model.Language
                                           href="">
                                            @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                                        </a>
                                    }
                                    else
                                    {
                                        <a prefix-with-language=@Model.Language
                                           href=@Model.ContentLinksViewModel.UrlNameFor(predefinedPage.ToString())>
                                            @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                                        </a>
                                    }

                                }
                            </div>
                        }
                       
                        <div class="col-xs-12 col-md-3">
                            <a href="https://medium.com/@@nettsundere">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <section class="col-xs-12">
                    <div class="row-fluid">
                        @RenderBody()
                    </div>
                    <footer class="row-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                &copy; 2015, Vladimir `nettsundere` Kiselev
                            </div>
                            <div class="col-xs-12 col-md-3">
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
        <!-- inject:js -->
        <script src="/js/Build/vendor.js"></script>
        <script src="/js/Build/site.min.js"></script>
        <!-- endinject -->

        @RenderSection("scripts", required: false)
    </body>
</html>
