<!DOCTYPE html>
<html>
    <head>
        @model PageViewModel

        <meta charset="utf-8" />
        <title>@RenderSection("Title") | @Html.Partial("_Title")</title>
        
        <environment names="Development,Staging,Production">
            <link rel="stylesheet" href="~/css/Build/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <header>
            @Html.Partial("_Header")
        </header>

        <div class="languages">
            @Html.Partial("_Languages", Model)
        </div>

        <div class="links">
            @Html.Partial("_Links")
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <environment names="Development,Staging,Production">
            <script src="~/js/Build/site.min.js" asp-append-version="true"></script>
        </environment>
    </body>
</html>
